@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

/* Colours */
:root {
  --color-primary: #5f147d;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 120px;
}

header .header-icon-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--color-primary);
}

header .header-icon-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .header-icon-container .icons span {
  color: white;
  font-weight: bold;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

nav .nav-logo-container {
  margin-left: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .nav-logo-container img {
  height: 70px;
  width: auto;
  align-self: start;
}

nav .nav-profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .nav-profile-link a {
  border-bottom: 1px solid black;
  color: black;
}

body.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('https://images.unsplash.com/photo-1482745637430-91c0bbcea3e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
  background-size: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.4);
}

.container {
  max-width: 980px;
  margin: auto;
}

hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: 40px;
}

hero .hero-punchline {
  width: 50%;
  color: var(--color-primary);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 5px;
}

hero .hero-button button {
  outline: none;
  border: none;
  padding: 20px 20px;
  background-color: var(--color-primary);
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 5px;
  cursor: pointer;
}

hero .hero-button button a {
  color: white;
}

.posts-main {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Roboto Mono', monospace;
}

.featured-post {
  background-color: rgb(220, 220, 220);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 50px;
  align-items: center;
  justify-items: center;
}

.featured-post-left-section {
  justify-self: end;
}

.featured-post-tag {
  align-self: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.featured-post-image {
  margin: 0;
}

.featured-post-image img {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.featured-post-right-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-self: start;
  padding-left: 50px;
}

.featured-post-title {
  font-weight: bold;
  font-size: 30px;
}

.featured-post-description {
  margin-bottom: 30px;
}

.read-more {
  outline: none;
  border: 1px solid var(--color-primary);
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  width: 100px;
  justify-self: center;
}

.read-more:hover {
  color: var(--color-primary);
  box-shadow: 1px 1px 1px 1px black;
}

.posts-feed-container {
  background-color: white;
  padding: 40px;
}

.posts-feed-container h3 {
  border-bottom: 1px solid black;
  justify-self: center;
  text-align: center;
  padding-bottom: 15px;
}

.posts-grid article {
  display: inline-block;
  padding-left: 20px;
  max-width: 30%;
  margin-top: 60px;
  height: 10px;
}

.posts-grid article img {
  width: 100%;
  height: auto;
}


.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-section {
    padding: 0 50px 40px;
}

.blogpost-main-section h3 {
    border-bottom: 1px solid #999;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 20px;
}

.blogpost-main-section h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

.blogpost-main-section p {
    line-height: 20px;
}

address {
  width: 100%;
  min-height: 250px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  padding-bottom: 50px;
}

address div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

address div a {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

address .address-info {
  text-align: initial;
  margin-top: 85px;
  padding-left: 10px;
}

address div img {
  width: 100px;
}

.profile-main-container {
  padding: 70px 40px;
  background-color: rgb(220, 220, 220);
  margin-bottom: 50px;
}

.profile-main-container img {
  width: 320px;
  margin-right: 30px;
}

.profile-main-container .profile-container {
  display: flex;
  max-width: 980px;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
}

.profile-main-projects h3 {
  border-bottom: 1px solid #999;
  padding-bottom: 35px;
  text-align: center;
  font-family: 'Roboto  Mono', monospace;
}

.projects-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 40px 20px;
}

footer {
  margin: 0;
  text-align: center;
  background-color: var(--color-primary);
  border-top: 20px solid #3b94ab;
  margin-bottom: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  align-items: center;
  padding: 10px;
}

